# Django
DJANGO_SECRET_KEY=insecure-dev-key-troque-em-producao
DEBUG=1
ALLOWED_HOSTS=*

# PostgreSQL
POSTGRES_DB=frete
POSTGRES_USER=frete
POSTGRES_PASSWORD=frete
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Provedor simulado de frete
# none | slow | error | timeout
SHIPPING_FAILURE_MODE=none